body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.nav a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
}

.nav a:hover {
    color: #af0505;
    background-color:bisque;
}

article {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
}

hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  